<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KinectRCCar.WpfUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <KinectRCCar.WpfUI.Properties.Settings>
      <setting name="MaxRadians" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="MinRadians" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxVelocityRange" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="MinVelocityRange" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HorizontalHandThreshold" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="ZHandThreshold" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="DirectionDeltaThreshold" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="VelocityDeltaThreshold" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="CountdownTime" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="CountdownInterval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DistanceAboveSpineY" serializeAs="String">
        <value>0</value>
      </setting>
    </KinectRCCar.WpfUI.Properties.Settings>
  </userSettings>
</configuration>